body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../images/back.webp) no-repeat;
    background-size:cover;

}
a
{
    text-decoration: none;
}

/* /////////////  section //////////////  */
.About
{

    padding: 1%;
    position: relative;
    background: url(../images/logo.png) no-repeat;
    background-size:contain;
    
    background-position: center;
    font-size: 1.5em;
    width:30%;
    height:480px;
    margin: 10% 0% 10% 2.5%;
    
    display: inline-block;
    transition: 0.5s;
    background-color: black;
    transition: 0.5s;

}
.About:hover
{
    background-size: 110%;
}
.About:after
{
    position: absolute;
    content:attr(data-text);
    top: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: rgba(0,0,0,1);
    color: #fff;
    padding: 0 10px;
    content:attr(data-text);
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}
.About:hover:after
{
    background-color: rgba(0,0,0,0.6);
    top:0;
    padding: 10px;
}
.About:first-line
{
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 45%;
    margin-bottom: 5%;
}

/* ----------------------------------------------- start footer ------------------------------------------------ */
.footer{
    background-color:    black;
    width: 100%; 
    height: 200px;
    height: 100px; 
    color: darkgrey; 
    overflow: hidden 
}
.footer p {
    width: 56%;
    float: left;
    font-size: 1.25em;
    padding-top: 3%;
    padding-left: 5%;
    
}
.footer div{ 
    width: 20%;
    padding: 3%;
    float: right; 
}
.footer div a{ 
    float: left; 
    margin-right: 6%; 
}
.footer div a i{
    color: darkgrey;
}
.fa-facebook-official:hover, .fa-linkedin-square:hover{ 
    color: dodgerblue; 
    transition: 1s
}
.fa-youtube-square:hover{
     color: red; 
    transition: 1s
}
/* ----------------------------------------------- end footer ------------------------------------------------ */

/* ////////////  if (width>height) elly gwaha y7sl ///////////////  */

/* @media only screen and (orientation: landscape) 

 {
    .About
    {
     display: inline-block;
     margin-right: 0%;
     margin-left: 2.5%;
    }

 } */

 @media only screen and (max-width: 1300px) {
    .About:after{
        font-size: 0.74em;    }
}

