*{
    margin: 0
}
a {
    display: block;
	text-decoration: none;
    font-family: sans-serif, tahoma;
    font-size: 16px;
    width: 17%;
    height: 25px;
    background-color: black;
    margin: 1% 45%;
    font-weight: 900;
    display: inline-block;
    border-radius: 34px;
    color: darkgoldenrod;
 	text-align: center; 

}
a:hover{
	text-decoration: underline;
	width: 15%;
    height: 30px;
    font-size: 18px;

}